/********* Définition des polices personnalisées ***********/


@font-face {
    font-family: 'Acme';
    src: url('Police/Acme.ttf') format('truetype');
}


/******** Styles globaux de la page par défaut ***********/

h1
{
    font-family: 'Righteous', 'Acme', Verdana, "Arial black", serif;
}

*
{
    font-family: Verdana, "Arial black", serif;
}

p, ul
{

    font-size: 1.3em;
}

body
{

}


/********** le Body ************/

body
{
    margin: auto; /* élargit le body sur tt la fenètre */
    display: flex; /* Main et Aside en ligne*/
    flex-direction: row-reverse; /*inverse Main et Aside*/
    max-width: 1000px;
}



/********** le Aside ***********/

aside
{
    background-color: rgb(196, 245, 253);
    display: flex;
    flex-direction: column;
    flex: 1;
}

aside header
{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

aside h1
{
    margin: 0;  /* Attention aux élmts qui ont naturellement des marges ext*/
}

aside header img
{
    margin: auto;
    border: 2px black solid;
    border-radius: 100px;
}

aside h1
{
    color: rgb(196, 245, 253);
    background-color: black;
    font-size: 2em;
    text-align: center;
    word-wrap: break-word;
}

aside p
{
    word-wrap: break-word;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center
}


aside footer
{

}

.hobby
{

}


/********** le Main ************/

main
{
    flex: 2.5; /* main 2,5X + grand que aside */
    padding-left: 50px;
}

main header
{
    height: 300px; /* même height que header aside */
    display: flex; /* pour centrer le titre horizontalement*/
    flex-direction: column;
    justify-content: center;
}

main header h1
{
    font-size: 3em;
    margin: 0;
    /* margin: 100px 0 0 0;  (permet de centrer sans flex)*/
    
}

main header p
{
    font-size: 1.6em;
    margin: 0;
    font-style: italic;
}

strong
{
    color: rgb(81, 226, 248);
}

main section
{
    display: flex;
    flex-direction: column;
}

main section h1
{
    margin: 0;
    font-size: 2em;
    border-bottom: 4px rgb(81, 226, 248) solid; /*decor*/
    
}

main section p, main section h2
{
    margin-bottom: 0;
}

.big_bloc /*main section div*/
{
    display: flex;

}

.bloc /*main section div div/p/h2*/
{
    flex: 1;
}

.experience
{
    padding-top: 30px;
}

.recommandation /*main footer*/
{

}

main footer h1
{

    border-bottom: 4px rgb(81, 226, 248) solid; /*decor*/
}

main footer p
{
    margin: 0 0 5px 0;
}

/* 8 - Media Queries*/

*
{

}